<a class="card-link" href="#/cards/<%= card.id %>">
<span class="card-title"><%= card.escape('title') %></span>
</a>
<button class="delete-card-button" type="submit" name="button" data-id=<%= card.id %>>X</button>