<h3 class="board-index-title">My Boards</h3>

<div class="boards">

</div>

<a class="new-board-link" href="#/boards/new">
	<div class="add-board-container"><span class="add-board-text">Create new board...</span></div>
</a>