<h3 class="board-title"><%= board.escape('title') %></h3>

<div class="board-container">
<div class="lists-container">
</div>

<div class="list-form-container"></div>
</div>
<!-- <div><a href="<%= "/#/boards/" + board.id + "/edit" %>">Edit Board</a></div>
<div><a class="delete-board-link" href="">Delete Board</a></div>
 -->