<div class="splash-container">
  <div class="welcome">Welcome to Lillo!</div>
  <div class="splash-content">
    <h4 class="splash-title">Sign Up</h4>

    <form class="new-user-form" action="<%= users_url %>" method="post">
      <%= auth_token %>

      <p>
        Username:
      </p>
      <input class="authentication-input" type="text" name="user[username]" value="">
      <p>
        Password:
      </p>
      <input class="authentication-input" type="password" name="user[password]" value="">
      <p>
        <button class="btn btn-default authentication-button" type="submit" name="button">Sign Up</button>
      </p>
    </form>
  </div>
</div>

<script>
  $(document).ready(function(){
    var images = ["/images/image1.jpeg", "/images/image2.jpeg", "/images/image3.jpeg", "/images/image4.jpeg", "/images/image5.jpeg", "/images/image6.jpeg", "/images/image7.jpeg", "/images/image8.jpeg", "/images/image9.jpeg"];
    $('.splash-container').css({'background-image': 'url(' + images[Math.floor(Math.random() * images.length)] + ')'});
  });
</script>
